<h1>Inbox</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_messages.each do |mail_message| %>
      <tr>
        <td><%= mail_message.sender %></td>
        <td><%= mail_message.recipient %></td>
        <td><%= mail_message.text %></td>
        <td><%= link_to 'Show', mail_message %></td>
        <td><%= link_to 'Edit', edit_mail_message_path(mail_message) %></td>
        <td><%= link_to 'Destroy', mail_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>