<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @mail_message.sender %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @mail_message.recipient %>
</p>

<p>
  <strong>Text:</strong>
  <%= @mail_message.text %>
</p>

<p>
  <strong>Time:</strong>
  <%= @mail_message.time %>
</p>

<%= link_to 'Edit', edit_mail_message_path(@mail_message) %> |
<%= link_to 'Back', mail_messages_path %>
