<div ng-app='app.profileApp' ng-controller='profileCtrl'>
  
  <%= form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
        <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field" >
      <%= f.label :nickname %><br>
      <%= f.text_field :nickname, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :lastname %><br>
      <%= f.text_field :lastname, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :language_id %><br>
      <select id="profile_language_id" name="profile[language_id]" class="form-control">
        <option ng-repeat="language in languages" value="{{language.id}}">
          {{language.name}}
        </option>
      </select>
    </div>
    <div class="field">
      <%= f.label :telf %><br>
      <%= f.text_field :telf, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :birthdate %><br>
      <%= f.date_select :birthdate, :class => 'datepicker' %>
    </div>
    <div class="field">
      <%= f.label :about %><br>
      <%= f.text_area :about, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :question %><br>
      <%= f.text_field :question, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :answer %><br>
      <%= f.text_field :answer, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :gender %><br>
      <%= f.text_field :gender, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :photo %><br>
      <%= f.file_field :photo, :class => "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit  :class => "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>