<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2><%= @profile.nickname %></h2>
      <%= image_tag @profile.photo.url(:small) %>
      <% if @profile.about? %>
        <h4><%= @profile.about %></h4>
      <% else %>
        <h4>No about information yet</h4>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h3>Name</h3>
    <% if @profile.name? %>
      <p><%= @profile.name %></p>
    <% else %>
      <p>No name yet</p>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3>Lastname</h3>
    <% if @profile.lastname? %>
      <p><%= @profile.lastname %></p>
    <% else %>
      <p>No Lastname yet</p>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3>Gender</h3>
    <% if @profile.gender == 'm' %>
      <p>Male</p>
    <% end %>
    <% if @profile.gender == 'f' %>
      <p>Female</p>
    <% end %>
    <% if @profile.gender == 'o' %>
      <p>Other</p>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3>Telephone</h3>
    <% if @profile.telf? %>
      <p><%= @profile.telf %></p>
    <% else %>
      <p>No telephone yet</p>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3>Birthdate</h3>
    <% if @profile.birthdate? %>
      <p><%= @profile.birthdate %></p>
    <% else %>
      <p>No birthdate data yet</p>
    <% end %>
  </div>
  <% if  @profile.user.id == current_user.id %>
    <div class="col-md-3">
      <h3>Language interface</h3>
      <%= @profile.language.name %>
    </div>
    <div class="col-md-3">
      <h3>Question</h3>
      <% if @profile.question == 'f' %>
        <p>Name of Father?</p>
      <% end %>
      <% if @profile.question == 'm' %>
        <p>Name of Mother?</p>
      <% end %>
      <% if @profile.question == 's' %>
        <p>Name of School?</p>
      <% end %>
      <% if @profile.question == 'o' %>
        <p>Other</p>
      <% end %>
    </div>
    <div class="col-md-3">
      <h3>Answer</h3>
      <p><%= @profile.answer %></p>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <% if @is_friend %>
    <div class="row">
      <div class="col-lg-12 text-center">
        <form accept-charset="UTF-8" action="/send_invitation" method="post" role="form">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <%= csrf_meta_tags %>
          <input name="friendship_invitation[sender]" type="hidden" value="<%=current_user.id%>" />
          <input name="friendship_invitation[recipient]" type="hidden" value="<%=@profile.user_id%>" />
          <button id="send_friend_invitation" name="commit" type="submit" class="btn btn-primary">Send invitation as a friend</button>
        </form>
      </div>
    </div>
  <% end %>

  <% if  @profile.user.id != current_user.id %>
    <form accept-charset="UTF-8" action="/mail_messages" method="post" role="form">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <%= csrf_meta_tags %>
      <input id="mail_message_sender" type="hidden" name="mail_message[sender]" type="text" value="<%=current_user.id%>"/>
      <input id="mail_message_recipient" type="hidden" name="mail_message[recipient]" type="text" value="<%=@profile.user.id%>"/>
      <h4>Text message:</h4>
      <div class="form-group">
          <textarea id="mail_message_text" name="mail_message[text]" class="form-control" rows="3" autofocus="autofocus"></textarea>
      </div>

      <button id="create_mail_message" name="commit" type="submit" class="btn btn-primary">Send</button>
    </form>
  <% else %>
    <%= link_to 'Edit', edit_profile_path(@profile), :class => "btn btn-primary" %>
  <% end %>
<% end %>