<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Language:</strong>
  <%= @profile.language %>
</p>


<p>
  <strong>Telf:</strong>
  <%= @profile.telf %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @profile.birthdate %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Question:</strong>
  <%= @profile.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @profile.answer %>
</p>

<p>
  <strong>Answer:</strong>
  <%= image_tag @profile.photo.url(:small) %>
</p>

<% if @is_friend %>
  <a href="">send invitation as a friend</a>
<% end %>