<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Language:</strong>
  <%= @profile.language %>
</p>


<p>
  <strong>Telf:</strong>
  <%= @profile.telf %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @profile.birthdate %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Question:</strong>
  <%= @profile.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @profile.answer %>
</p>

<p>
  <strong>Answer:</strong>
  <%= image_tag @profile.photo.url(:small) %>
</p>

<% if user_signed_in? %>
  <% if @is_friend %>
    <a href="#">send invitation as a friend</a>
  <% end %>

  <% if  @profile.user.id != current_user.id %>
    <form accept-charset="UTF-8" action="/mail_messages" method="post" role="form">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <%= csrf_meta_tags %>
      <input id="mail_message_sender" type="hidden" name="mail_message[sender]" type="text" value="<%=current_user.id%>"/>
      <input id="mail_message_recipient" type="hidden" name="mail_message[recipient]" type="text" value="<%=@profile.user.id%>"/>
      <h4>Text:</h4>
      <div class="form-group">
          <textarea id="mail_message_text" name="mail_message[text]" class="form-control" rows="3" autofocus="autofocus"></textarea>
      </div>

      <button id="create_mail_message" name="commit" type="submit" class="btn btn-primary">Send message</button>
    </form>
  <% end %>
<% end %>