<%= bootstrap_form_for(@user_language) do |f| %>
  <% if @user_language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_language.errors.count, "error") %> prohibited this user_language from being saved:</h2>

      <ul>
      <% @user_language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.text_field :language_id %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :learn %><br>
    <%= f.check_box :learn %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-lg btn-primary"  %>
  </div>
<% end %>
