<!DOCTYPE html>
<html>
<head>
	<title>Test - Lattke</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>

	<%= javascript_include_tag 'application' %>

	<%= stylesheet_link_tag "bootstrap" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Test - Lattke</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<% if user_signed_in? %>
					<!-- Left options -->
					<ul class="nav navbar-nav">
						<li>
							<%= link_to "My Profile", profile_path(@user_profile) %>
						</li>
						<li>
							<%= link_to "Inbox", inbox_path() %>
						</li>
						<li>
							<%= link_to "Sent", sent_path() %>
						</li>
					</ul>
						

					<!-- Right options -->
					<ul class="nav navbar-nav navbar-right">
						<li class="page-scroll">
							<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
						</li>
					</ul>
				<% else %>
					<%= yield :log_in_content %>
				<% end %>
			</div>
		</div>
	</nav>
	
	<div class="container margen">
		<%= yield %>
		
		<div class="notice"><%= notice %></div>
		<div class="alert"><%= alert %></div>
	</div>

    <footer class="text-center">
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      All rights reserved &copy; 2015 - <b>Tony Enrique Lattke Urbaneja</b>
                  </div>
              </div>
          </div>
      </div>
    </footer>
	<!-- JavaScript -->
	<%= javascript_include_tag "jquery-1.10.2" %>
	<%= javascript_include_tag "bootstrap" %>

</body>
</html>
